{% trans_default_domain 'PMTWebBundle' %}
{% if view == 'advanced' %}
    {% if activity|length %}
        <ul class="activity-stream advanced list-unstyled">
            {% for log in activity %}
                <li class="media">
                    <a class="pull-left" href="{{ path('pmtweb_user_profile', {'username': log.user}) }}">
                        <img class="media-object avatar avatar-medium" src="{{ gravatar(log.user.email) }}" alt="{{ log.user.username }}">
                    </a>
                    <div class="media-body">
                        <ul class="list-unstyled">
                            <li>
                                <p>
                                    <a href="{{ path('pmtweb_user_profile', {'username': log.user}) }}">{{ log.user.username }}</a>
                                    {{ log.event.name }}
                                    {% if log.source.link %}
                                        <a href="{{ path(log.source.link.route, log.source.link.args) }}">{{ log.source.label }}</a>
                                    {% else %}
                                        {{ log.source.label }}
                                    {% endif %}
                                    {#<a href="{{ path('pmtweb_issue_detail', {'projectCode': log.issue.project.code, 'id': log.issue.id}) }}">{{ log.issue.project.code }}-{{ log.issue.id }} - {{ log.issue.summary }}</a>#}
                                </p>
                                <p>
                                    <i class="glyphicon glyphicon-time"></i> <time class="moment" datetime="{{ log.timestamp|date('Y-m-d\\TH:i:sP') }}"></time>
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="advanced">
            {{ 'activity.list.noresult'|trans }}
        </div>
    {% endif %}
{% else %}
    {% if activity|length %}
        <ul class="activity-stream simple list-unstyled">
            <li>
                <p>
                    <a href="{{ path('pmtweb_user_profile', {'username': 'NoUseFreak'}) }}">Dries De Peuter</a> updated <a href="#">NOTIFIER-2 - Some issue summary</a>
                </p>
                <p>
                    <i class="glyphicon glyphicon-time"></i> <time class="moment" datetime="{{ 'now'|date('Y-m-d\\TH:i:sP') }}"></time>
                </p>
            </li>
            <li>
                <p>
                    <a href="{{ path('pmtweb_user_profile', {'username': 'NoUseFreak'}) }}">Dries De Peuter</a> updated <a href="#">NOTIFIER-2 - Some issue summary</a>
                </p>
                <p>
                    <i class="glyphicon glyphicon-time"></i> <time class="moment" datetime="{{ 'now'|date('Y-m-d\\TH:i:sP') }}"></time>
                </p>
            </li>
        </ul>
    {% else %}
        <div class="advanced">
            {{ 'activity.list.noresult'|trans }}
        </div>
    {% endif %}
{% endif %}
