{% extends "PMTWebBundle::layout.html.twig" %}
{% trans_default_domain 'PMTWebBundle' %}

{% block content_title %}{{ project.name }}{% endblock %}

{% block content_actions %}
    <ul class="actions nav nav-pills pull-right">
        <li class="active">
            <a href="{{ path('pmtweb_project_issue_form', {'projectCode': project.code}) }}">
                <i class="glyphicon glyphicon-plus"></i> {{ 'issue.link.create'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('pmtweb_project_edit', {'projectCode': project.code}) }}">
                <i class="glyphicon glyphicon-wrench"></i> Settings
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <li{% if app.request.attributes.get('_route') == 'pmtweb_project_summary' %} class="active"{% endif %}>
                    <a href="{{ path('pmtweb_project_summary', {'code': project.code}) }}">{{ 'project.summary'|trans }}</a>
                </li>
                <li{% if app.request.attributes.get('_route') == 'pmtweb_project_issues' %} class="active"{% endif %}>
                    <a href="{{ path('pmtweb_project_issues', {'code': project.code}) }}">{{ 'issue.issues'|trans }}</a>
                </li>
                <li>
                    <a href="#roadmap">{{ 'project.roadmap'|trans }}</a>
                </li>
                <li>
                    <a href="#agile">{{ 'project.agile'|trans }}</a>
                </li>
                <li>
                    <a href="#people">{{ 'project.people'|trans }}</a>
                </li>
                <li>
                    <a href="#changelog">Change Log</a>
                </li>
                <li>
                    <a href="#popular">Popular Items</a>
                </li>
                <li>
                    <a href="#calendar">Calendar</a>
                </li>
                <li{% if app.request.attributes.get('_route') == 'pmtweb_project_milestones' %} class="active"{% endif %}>
                    <a href="{{ path('pmtweb_project_milestones', {'projectCode': project.code}) }}">{{ 'milestone.milestones'|trans }}</a>
                </li>
                <li>
                    <a href="#components">Components</a>
                </li>
                <li>
                    <a href="#labels">Labels</a>
                </li>
                <li>
                    <a href="#builds">Builds</a>
                </li>
                <li>
                    <a href="#source">Source</a>
                </li>
                <li>
                    <a href="#reviews">Reviews</a>
                </li>
                <li>
                    <a href="#test">Test</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <div class="tabs-container">
                <div class="tab-content">
                    {% block tabContent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
