{% extends "PMTWebBundle::layout.html.twig" %}
{% trans_default_domain 'PMTWebBundle' %}

{% block content_title %}{{ project.name }}{% endblock %}

{% block content_actions %}
    <ul class="actions nav nav-pills pull-right">
        <li class="active">
            <a href="{{ path('pmtweb_project_issue_form', {'projectCode': project.code}) }}">
                <i class="icon-edit icon-plus"></i> {{ 'issue.link.create'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('pmtweb_project_edit', {'projectCode': project.code}) }}">
                <i class="icon-wrench"></i> Settings
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs span2">
                <li{% if app.request.attributes.get('_route') == 'pmtweb_project_summary' %} class="active"{% endif %}>
                    <a href="{{ path('pmtweb_project_summary', {'code': project.code}) }}">{{ 'project.summary'|trans }}</a>
                </li>
                <li{% if app.request.attributes.get('_route') == 'pmtweb_project_issues' %} class="active"{% endif %}>
                    <a href="{{ path('pmtweb_project_issues', {'code': project.code}) }}">{{ 'issue.issues'|trans }}</a>
                </li>
                <li{% if app.request.attributes.get('_route') == 'pmtweb_project_milestones' %} class="active"{% endif %}>
                    <a href="{{ path('pmtweb_project_milestones', {'projectCode': project.code}) }}">{{ 'milestone.milestones'|trans }}</a>
                </li>
            </ul>
            <div class="tabs-container span10">
                <div class="tab-content">
                    {% block tabContent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
