{% block head_additions %}
    <script src="{{ asset('bundles/pmtweb/vendor/momentjs/moment.min.js') }}"></script>
{% endblock %}

{% if view == 'advanced' %}
    <ul class="activity-stream advanced">
        <li class="media">
            <a class="pull-left" href="{{ path('pmtweb_user_profile', {'username': 'NoUseFreak'}) }}">
                <img class="media-object avatar avatar-medium" src="{{ gravatar('dries@nousefreak.be') }}">
            </a>
            <div class="media-body">
                <ul>
                    <li>
                        <p>
                            <a href="{{ path('pmtweb_user_profile', {'username': 'NoUseFreak'}) }}">Dries De Peuter</a> <i class="icon-time"></i> <time datetime="2013-06-06T20:00+00:00"></time>
                        </p>
                        <p>
                            What to do?
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="{{ path('pmtweb_user_profile', {'username': 'NoUseFreak'}) }}">Dries De Peuter</a> <i class="icon-time"></i> <time datetime="2013-06-06T20:10+00:00"></time>
                        </p>
                        <p>
                            I have no clue!
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="media">
            <a class="pull-left" href="{{ path('pmtweb_user_profile', {'username': 'denhul'}) }}">
                <img class="media-object avatar avatar-medium" src="{{ gravatar('dries2@nousefreak.be') }}">
            </a>
            <div class="media-body">
                <ul>
                    <li>
                        <p>
                            <a href="{{ path('pmtweb_user_profile', {'username': 'denhul'}) }}">Dennis Hulsmans</a> <i class="icon-time"></i> <time datetime="2013-06-07T20:10+00:00"></time>
                        </p>
                        <p>
                            Ask <a href="{{ path('pmtweb_user_profile', {'username': 'Ozmodiar'}) }}">Joeri van Dooren</a>
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="media">
            <a class="pull-left" href="{{ path('pmtweb_user_profile', {'username': 'Ozmodiar'}) }}">
                <img class="media-object avatar avatar-medium" src="{{ gravatar('dries2@nousefreak.be') }}">
            </a>
            <div class="media-body">
                <ul>
                    <li>
                        <p>
                            <a href="{{ path('pmtweb_user_profile', {'username': 'Ozmodiar'}) }}"> Joeri van Dooren</a> <i class="icon-time"></i> <time datetime="2013-06-10T20:10+00:00"></time>
                        </p>
                        <p>
                            How should I know?
                        </p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% else %}
    <ul class="activity-stream simple">
        <ul>
            <li>
                <p>
                    <a href="{{ path('pmtweb_user_profile', {'username': 'NoUseFreak'}) }}">Dries De Peuter</a> updated <a href="#">NOTIFIER-2 - Some issue summary</a>
                </p>
                <p>
                    <i class="icon-time"></i> <time datetime="2013-06-06T20:00+00:00"></time>
                </p>
            </li>
            <li>
                <p>
                    <a href="{{ path('pmtweb_user_profile', {'username': 'NoUseFreak'}) }}">Dries De Peuter</a> updated <a href="#">NOTIFIER-2 - Some issue summary</a>
                </p>
                <p>
                    <i class="icon-time"></i> <time datetime="2013-06-13T20:00+00:00"></time>
                </p>
            </li>
        </ul>
{% endif %}

{% block body_scripts %}
    <script type="text/javascript">
        $('time').html(function() {
            return moment($(this).attr('datetime')).fromNow();
        })
    </script>
{% endblock %}
