{% extends "PMTWebBundle::layout.html.twig" %}
{% trans_default_domain 'PMTWebBundle' %}

{% block content_title %}
    <a href="{{ path('pmtweb_project_summary', {'code': issue.project.code}) }}">{{ issue.project.code }}</a>
    /
    {{ issue.summary }}
{% endblock %}

{% block content_actions %}
    <ul class="actions nav nav-pills pull-right">
        <li class="active">
            <a href="{{ path('pmtweb_project_issue_form', {'projectCode': issue.project.code}) }}"><i class="glyphicon glyphicon-edit glyphicon glyphicon-plus"></i> {{ 'issue.link.create'|trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {% include 'PMTWebBundle:Issue:detail_detail.html.twig' with {'issue': issue} %}
            {% include 'PMTWebBundle:Issue:detail_description.html.twig' with {'issue': issue} %}
            {% include 'PMTWebBundle:Issue:detail_subtasks.html.twig' with {'issue': issue} %}
            {% include 'PMTWebBundle:Issue:detail_comments.html.twig' with {'issue': issue} %}
            {% include 'PMTWebBundle:Issue:detail_activity.html.twig' with {'issue': issue} %}

        </div>
        <div class="col-lg-4">
            {% include 'PMTWebBundle:Issue:detail_actions.html.twig' with {'issue': issue} %}
            {% include 'PMTWebBundle:Issue:detail_people.html.twig' with {'issue': issue} %}
            {% include 'PMTWebBundle:Issue:detail_dates.html.twig' with {'issue': issue} %}
            {% include 'PMTWebBundle:Issue:detail_timetracking.html.twig' with {'issue': issue} %}
        </div>
    </div>
{% endblock %}
