{% extends "PMTWebBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span8">
            <nav>
                <p>
                    <a href="{{ path('project_summary', {'code': issue.project.code}) }}" rel="up">{{ issue.project.name }}</a>
                </p>
            </nav>
            <h1>{{ issue.summary }}</h1>
        </div>
        <div class="span4">
            <ul class="actions nav nav-pills pull-right">
                <li class="active">
                    <a data-toggle="modal" href="{{ path('issue_form') }}" data-target="#myModal"><i class="icon-edit icon-plus"></i> Create issue</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_details">
                            Details
                        </a>
                    </div>
                    <div id="accordion_details" class="accordion-body collapse in">
                        <div class="accordion-inner row-fluid">
                            <div class="span6">
                                <table>
                                    <tr>
                                        <td>Type:</td>
                                        <td>Major</td>
                                    </tr>
                                    <tr>
                                        <td>Priority:</td>
                                        <td>value</td>
                                    </tr>
                                    <tr>
                                        <td>Milestone:</td>
                                        <td>value</td>
                                    </tr>
                                    <tr>
                                        <td>Components:</td>
                                        <td>value</td>
                                    </tr>
                                    <tr>
                                        <td>Labels:</td>
                                        <td>value</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="span6">
                                <table>
                                    <tr>
                                        <td>Status:</td>
                                        <td>value</td>
                                    </tr>
                                    <tr>
                                        <td>Resolution:</td>
                                        <td>value</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_description">
                            Description
                        </a>
                    </div>
                    <div id="accordion_description" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Issue description
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_subtasks">
                            Sub-tasks
                        </a>
                    </div>
                    <div id="accordion_subtasks" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_activity">
                            Activity
                        </a>
                    </div>
                    <div id="accordion_activity" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_people">
                            People
                        </a>
                    </div>
                    <div id="accordion_people" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <table>
                                <tr>
                                    <td>Assignee:</td>
                                    <td>
                                        <a href="#">Me</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Reporter:</td>
                                    <td>
                                        <a href="#">Some other developer</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_dates">
                            Dates
                        </a>
                    </div>
                    <div id="accordion_dates" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <table>
                                <tr>
                                    <td>Created:</td>
                                    <td>{{ "now"|date("d/m/Y") }}</td>
                                </tr>
                                <tr>
                                    <td>Updated:</td>
                                    <td>{{ "now"|date("d/m/Y") }}</td>
                                </tr>
                                <tr>
                                    <td>Resolved:</td>
                                    <td>{{ "now"|date("d/m/Y") }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_timetracking">
                            Time tracking
                        </a>
                    </div>
                    <div id="accordion_timetracking" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <table class="time_tracking">
                                <tr>
                                    <td>Estimated:</td>
                                    <td>4h</td>
                                    <td class="bar">
                                        <div class="progress">
                                            <div class="bar" style="width: 50%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Logged:</td>
                                    <td>3h</td>
                                    <td>
                                        <div class="progress">
                                            <div class="bar" style="width: 75%;"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'PMTWebBundle:Form:modalForm.html.twig' %}
{% endblock %}
