{% extends "PMTWebBundle::block.html.twig" %}
{% trans_default_domain 'PMTWebBundle' %}

{% block title %}{{ 'issue.details'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <table class="issue-details">
                <tr>
                    <td>{{ 'issue.type'|trans }}:</td>
                    <td>{{ issue.type.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'issue.priority'|trans }}:</td>
                    <td>{{ issue.priority.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'issue.milestone'|trans }}:</td>
                    <td>
                        {% if issue.milestone %}
                            {{ issue.milestone.name }}
                        {% else %}
                            {{ 'issue.nomilestone'|trans }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'issue.components'|trans }}:</td>
                    <td>value</td>
                </tr>
                <tr>
                    <td>{{ 'issue.tags'|trans }}:</td>
                    <td>
                        {% for tag in issue.tags %}
                            {{ tag.name }},
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="issue-details">
                <tr>
                    <td>{{ 'issue.status'|trans }}:</td>
                    <td>{{ issue.status.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'issue.resolution'|trans }}:</td>
                    <td>value</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
