{% extends "PMTWebBundle::layout.html.twig" %}
{% trans_default_domain 'PMTWebBundle' %}

{% block content_title %}{{ 'issue.form.newissue'|trans }}{% endblock %}

{% block content_actions %}{% endblock %}

{% block content %}
    <form action="{{ path('pmtweb_issue_form') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
        <div class="row">
            <div class="col-lg-8">
                {% include 'PMTWebBundle:Issue:form_details.html.twig' with {'form': form} %}
            </div>
            <div class="col-lg-4">
                {% include 'PMTWebBundle:Issue:form_meta.html.twig' with {'form': form} %}
                {% include 'PMTWebBundle:Issue:form_people.html.twig' with {'form': form} %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-actions">
                    <div class="form-horizontal">
                        <div class="pull-right">
                            <button type="submit" name="_submit_rebuild" class="btn btn-primary">{{ 'issue.form.create_another'|trans }}</button>
                            <button type="submit" name="_submit" class="btn btn-primary">{{ 'issue.form.create'|trans }}</button>
                            <button type="button" class="btn" onclick="window.history.back();">{{ 'issue.form.cancel'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    </form>
{% endblock %}

{% block body_scripts %}
    <script>
        $(function () {
            $('select').select2();
            $('#issue_tags').select2({
                'tags': true,
                'multiple': true,
                'minimumInputLength': 2,
                'ajax': {
                    'url': "/ajax/tags.json",
                    'dataType': 'json',
                    'type': 'post',
                    'data': function (term, page) {
                        return {
                            'q': term,
                            'add_new': true
                        };
                    },
                    'results': function (data, page) {
                        return {results: data.tags};
                    }
                }
            });
            $('#issue_milestone').select2({
                'placeholder': '{{ 'issue.nomilestone'|trans }}',
                'allowClear': true,
                'initSelection': function() {
                    return '';
                },
                'formatNoMatches': function(term) {
                    return '{{ 'issue.nomilestonefound'|trans }}';
                },
                'ajax': {
                    'url': "/ajax/milestones.json",
                    'dataType': 'json',
                    'type': 'post',
                    'data': function (term, page) {
                        return {
                            'q': term,
                            'project_id': $('#issue_project').val()
                        };
                    },
                    'results': function (data, page) {
                        return {results: data.milestones};
                    }
                }
            });
            $('#issue_project').on('change', function() {
                $('#issue_milestone').select2('val', '');
            });
        });
    </script>
{% endblock %}
