{% extends "PMTWebBundle::layout.html.twig" %}

{% block content_title %}New issue{% endblock %}

{% block content_actions %}{% endblock %}

{% block content %}
    <div class="row-fluid">
        {{ form_errors(form) }}
        <form action="{{ path('pmtweb_issue_form') }}" method="post" {{ form_enctype(form) }}>
            <div class="span8">
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#accordion_details">
                                Details
                            </a>
                        </div>
                        <div id="accordion_details" class="accordion-body collapse in">
                            <div class="accordion-inner">

                                <div class="control-group">
                                    <label class="control-label" for="summary">
                                        {{ form_label(form.summary) }}
                                    </label>

                                    <div class="controls row-fluid">
                                        {{ form_widget(form.summary, {'attr': {'class': 'span12' }}) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="type">
                                        {{ form_label(form.description) }}
                                    </label>

                                    <div class="controls row-fluid">
                                        {{ form_widget(form.description, {'attr': {'class': 'span12', 'rows': '10' }}) }}
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="type">
                                        {{ form_label(form.tags) }}
                                    </label>

                                    <div class="controls row-fluid">
                                        {{ form_widget(form.tags, {'attr': {'class': 'span12'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#accordion_meta">
                                Meta
                            </a>
                        </div>
                        <div id="accordion_meta" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div class="control-group">
                                    <div class="control-label">
                                        {{ form_label(form.project) }}
                                    </div>
                                    <div class="controls row-fluid">
                                        {{ form_widget(form.project, {'attr': {'class': 'span12' }}) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        {{ form_label(form.milestone) }}
                                    </div>
                                    <div class="controls row-fluid">
                                        {{ form_widget(form.milestone, {'attr': {'class': 'span12' }}) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        {{ form_label(form.type) }}
                                    </div>
                                    <div class="controls row-fluid">
                                        {{ form_widget(form.type, {'attr': {'class': 'span12' }}) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        {{ form_label(form.priority) }}
                                    </div>
                                    <div class="controls row-fluid">
                                        {{ form_widget(form.priority, {'attr': {'class': 'span12' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#accordion_people">
                                People
                            </a>
                        </div>
                        <div id="accordion_people" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div class="control-group">
                                    <div class="control-label">
                                        {{ form_label(form.creator) }}
                                    </div>
                                    <div class="controls row-fluid">
                                        {{ form_widget(form.creator, {'attr': {'class': 'span12' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="form-actions">
                    <div class="form-horizontal">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn" onclick="window.history.back();">Cancel</button>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="rebuild">
                                {{ form_label(form.rebuild) }}
                            </label>

                            <div class="controls">
                                {{ form_widget(form.rebuild) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>

    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        $(function () {
            $('select').select2();
            $('#issue_tags').select2({
                'tags': true,
                'multiple': true,
                'minimumInputLength': 2,
                'ajax': {
                    'url': "/ajax/tags.json",
                    'dataType': 'json',
                    'type': 'post',
                    'data': function (term, page) {
                        return {
                            'q': term,
                            'add_new': true
                        };
                    },
                    'results': function (data, page) {
                        return {results: data.tags};
                    }
                }
            });
        });
    </script>
{% endblock %}
