{% extends "PMTWebBundle::layout.html.twig" %}
{% trans_default_domain 'PMTWebBundle' %}

{% block content_title %}{{ 'issue.issues'|trans }}{% endblock %}

{% block content %}
    <form action="" class="issue-nagivator row">
        <div class="span3">
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_people">
                            {{ 'issue.navigator.search'|trans }}
                        </a>
                    </div>
                    <div id="accordion_people" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="control-group">
                                <div class="control-label hide">
                                    {{ 'issue.navigator.search'|trans }}
                                </div>
                                <div class="controls row-fluid">
                                    <input type="text" class="span12"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_people">
                            {{ 'issue.project'|trans }}
                        </a>
                    </div>
                    <div id="accordion_people" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="control-group">
                                <div class="control-label hide">
                                    {{ 'issue.project'|trans }}
                                </div>
                                <div class="controls row-fluid">
                                    <select class="span12" name="project" id="">
                                        <option>All projects</option>
                                        <option value="">Notifier</option>
                                        <option value="">PMT</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label hide">
                                    {{ 'issue.milestone'|trans }}
                                </div>
                                <div class="controls row-fluid">
                                    <select class="span12" name="milestone" id="">
                                        <option>All milestones</option>
                                        <option value="">Notifier</option>
                                        <option value="">PMT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_owner">
                            Owner
                        </a>
                    </div>
                    <div id="accordion_owner" class="accordion-body collapse in">
                        <div class="accordion-inner">

                            <ul data-toggle="buttons-radio" class="row-fluid filter-owner">
                                <li>
                                    <button type="button" class="span12 btn btn-primary active">Everyone's issues</button>
                                    <input type="radio" name="owner" value="all" class="hide" checked="checked"/>
                                </li>
                                <li>
                                    <button type="button" class="span12 btn btn-primary">Assigned to you</button>
                                    <input type="radio" name="owner" value="assigned" class="hide"/>
                                </li>
                                <li>
                                    <button type="button" class="span12 btn btn-primary">Created by you</button>
                                    <input type="radio" name="owner" value="created" class="hide"/>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#accordion_filter">
                            {{ 'issue.meta'|trans }}
                        </a>
                    </div>
                    <div id="accordion_filter" class="accordion-body collapse in form-inline">
                        <div class="accordion-inner">
                            <div class="control-group">
                                <div class="control-label hide">
                                    {{ 'issue.status'|trans }}
                                </div>
                                <div class="controls row-fluid">
                                    <select class="span12" name="status" id="">
                                        <option>All statuses</option>
                                        <option value="">Notifier</option>
                                        <option value="">PMT</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="control-label hide">
                                    {{ 'issue.priorities'|trans }}
                                </div>
                                <div class="controls row-fluid">
                                    <select class="span12" name="priority" id="">
                                        <option>All priorities</option>
                                        <option value="">Notifier</option>
                                        <option value="">PMT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <input type="submit" class="hide"/>
            </div>
        </div>
        <div class="span9">
            <div class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" href="javascript:void();">
                            {{ 'issue.issues'|trans }}
                        </a>
                    </div>
                    <div id="accordion_issues" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            {% include 'PMTWebBundle:Issue:list.html.twig' with {'issues': issues, 'view': 'advanced'} %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

{% endblock %}

{% block body_scripts %}
    <script type="text/javascript">
        $(function() {
            $('select').select2().on('change', function() {
                $('form.issue-nagivator').submit();
            });
            $('.filter-owner').on('click', 'button', function() {
                $(this).next('input').click();
                $('form.issue-nagivator').submit();
            });
        });
    </script>
{% endblock %}
