<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PMT</title>
    <meta name="description" content=""/>
    <meta name="author" content="Dries De Peuter"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

    {% stylesheets
        'bundles/pmtweb/vendor/bootstrap/css/bootstrap.min.css'
        'bundles/pmtweb/vendor/bootstrap/css/bootstrap-glyphicons.css'
        'bundles/pmtweb/vendor/select2/select2.css'
        'bundles/pmtweb/css/select2-bootstrap.css'
        'bundles/pmtweb/css/main.css'
        filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    '@PMTWebBundle/Resources/public/js/jquery.min.js'
    '@PMTWebBundle/Resources/public/vendor/select2/select2.min.js'
    '@PMTWebBundle/Resources/public/vendor/momentjs/moment.min.js'
    '@PMTWebBundle/Resources/public/js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_property_id }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
                    'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    {% block head_additions %}{% endblock %}
</head>

<body>

{% block region_menu %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('pmtweb_dashboard') }}">PMT</a>
            </div>
        </div>
    </div>
{% endblock %}

<div class="container">

    {% block region_header %}{% endblock %}

    {% for name, flashbag in app.session.flashbag %}
        {% for message in flashbag %}
            <div class="alert alert-{{ name }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block content %}{% endblock %}

</div>

<script src="{{ asset('bundles/pmtweb/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
{% block body_scripts %}{% endblock %}
</body>
</html>
