<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PMT</title>
    <meta name="description" content="" />
    <meta name="author" content="Dries De Peuter" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    <link href="{{ asset('bundles/pmtweb/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/pmtweb/css/main.css') }}" rel="stylesheet" />

    <script src="{{ asset('bundles/pmtweb/js/jquery.min.js') }}"></script>

    {% block head_additions %}{% endblock %}
</head>

<body>

{% if is_granted('ROLE_USER') %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                {{ render(controller('PMTWebBundle:Menu:primary')) }}
            </div>
        </div>
    </div>
{% endif %}

<div class="container">

    {% block content %}
    {% endblock %}

</div>

<script src="{{ asset('bundles/pmtweb/js/bootstrap.min.js') }}"></script>

</body>
</html>
