<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a class="brand" href="{{ path('dashboard') }}">PMT</a>
<div class="nav-collapse collapse">
    <ul class="nav pull-right">
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ app.user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                <li><a href="#">Preferences</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav">
        <li{% if app.request.attributes.get('_route') == 'dashboard' %} class="active"{% endif %}><a href="{{ path('dashboard') }}">Dashboard</a></li>
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Project <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for project in projects %}
                    <li><a href="{{ path('project_summary', {'code': project.code}) }}">{{ project.name }} <span class="tag project">{{ project.code }}</span></a></li>
                {% endfor %}
                <li class="divider"></li>
                <li><a href="#">Create</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
        <li><a href="#about">About</a></li>
    </ul>
</div>
