{% if view == 'advanced' %}
    {% if milestones|length %}
        <ul class="advanced list-unstyled container">
        {% for milestone in milestones %}
            <li class="row">
                <div class="col-lg-6">
                    <div><a href="#">{{ milestone.name }}</a></div>
                    {% if milestone.dueDate > date() %}
                        <div>Due <time class="moment" datetime="{{ milestone.dueDate|date('Y-m-d\\TH:i:sP') }}"></time></div>
                    {% else %}
                        <div>Past due <time class="moment" datetime="{{ milestone.dueDate|date('Y-m-d\\TH:i:sP') }}"></time></div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <div>
                        12 closed - 6 open
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%;"><span class="pull-left">&nbsp;60%</span></div>
                    </div>
                </div>
            </li>
        {% endfor %}

        </ul>
    {% else %}
        <div class="advanced list-unstyled">
            {{ 'milestone.list.noresult'|trans }}
        </div>
    {% endif %}
{% else %}
    {% if milestones|length %}
        <ul class="simple list-unstyled container">
            {% for milestone in milestones %}
                <li class="row">
                    <div class="col-lg-6">
                        {{ milestone.name }}
                    </div>
                    <div class="col-lg-6">
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"><span class="pull-left">&nbsp;60%</span></div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="simple list-unstyled">
            {{ 'milestone.list.noresult'|trans }}
        </div>
    {% endif %}
{% endif %}
